@using AnthroCloud.Entities
@using AnthroCloud.Entities.Charts
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<div class="w3-container w3-margin">
    <FluentAccordion ExpandMode="AccordionExpandMode.Single">
        @foreach (Measure Item in measureList)
        {
            <FluentAccordionItem Heading=@(Item.Name.ToString()) Expanded="false">
                <div class="w3-container w3-cell">
                    <div>
                        <b>Visit ID: </b>
                        <a href="/visit/view/@Item.VisitId">@Item.VisitId</a>
                    </div>
                    <div><b>Measure Id: </b>@Item.MeasureId</div>
                    <div><b>Percentile: </b>@Item.Percentile</div>
                    <div><b>Zscore: </b>@Item.Zscore</div>
                </div>
            </FluentAccordionItem>
        }
    </FluentAccordion>
</div>
@code {
    [Inject]
    public IVisitService VisitService { get; set; }

    [Parameter]
    public int VisitId { get; set; }
    protected List<Measure> measureList = new();

    protected override async Task OnInitializedAsync()
    {
        measureList = (await VisitService.GetVisitMeasures(VisitId)).ToList();
    }
}