@using AnthroCloud.Entities
@using AnthroCloud.Entities.Charts
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient httpClient

<div class="w3-container w3-margin">    
    @if (!measureList.Any())
    {
        <ul class="w3-ul w3-card">
            <li class="w3-bar">
                <div class="w3-container w3-center">
                    <p><i class="fa fa-spinner w3-spin" style="font-size:64px"></i></p>
                </div>
            </li>
        </ul>
    }
    else
    {
        <ul class="w3-ul w3-card">
            <li class="w3-bar">
            <FluentAccordion ExpandMode="AccordionExpandMode.Single">
                @foreach (Measure Item in measureList)
                {
                    <FluentAccordionItem Heading=@(Item.Name.ToString()) Expanded="false">
                        <div class="w3-container w3-cell">
                            <div>
                                <b>Visit ID: </b>
                                <a href="/visit/edit/@Item.VisitId">@Item.VisitId</a>
                            </div>
                            <div><b>Measure Id: </b>@Item.MeasureId</div>
                            <div><b>Percentile: </b>@Item.Percentile</div>
                            <div><b>Zscore: </b>@Item.Zscore</div>
                        </div>
                    </FluentAccordionItem>
                }
            </FluentAccordion>
            </li>
        </ul>
    }
</div>

@code {
    [Inject]
    public IVisitService VisitService { get; set; }

    [Parameter]
    public int VisitId { get; set; }
    protected List<Measure> measureList = new();

    protected override async Task OnInitializedAsync()
    {
        measureList = (await VisitService.GetVisitMeasures(VisitId)).ToList();
    }
}