@page "/visit/delete/{visitId:int}"
@using AnthroCloud.Entities
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient Http
@inject NavigationManager NavigationManager

<br/>
<div class="w3-container w3-card">
    <h3>Delete Visit</h3>
    <hr/>
    <p>
        <label class="w3-text">Visit Id</label>
        <input class="w3-input w3-border w3-round" type="text" value="@visit.VisitId" readonly />
    </p>
    <p>
        <label class="w3-text">Patient Id</label>
        <input class="w3-input w3-border w3-round" type="text" value="@visit.PatientId" readonly />
    </p>
    <p>
        <label class="w3-text">Weight</label>
        <input class="w3-input w3-border w3-round" type="text" value="@visit.Weight" readonly />
    </p>
    <p>
        <label class="w3-text">Height</label>
        <input class="w3-input w3-border w3-round" type="text" value="@visit.LengthHeight" readonly />
    </p>
    <p>
        <button class="w3-btn w3-blue" type="submit" @onclick="(async () => await DeleteVisit(visit.VisitId))">Delete</button>
        <button class="w3-btn w3-red" @onclick="(() => Cancel())">Cancel</button>
    </p>
</div>
<br/>

@code {
    [Inject]
    public IVisitService VisitService { get; set; }

    [Parameter]
    public int visitId { get; set; }
    Visit visit = new Visit();
    protected override async Task OnInitializedAsync()
    {
        visit = await VisitService.GetVisit(Convert.ToInt32(visitId));
    }
    protected async Task DeleteVisit(int visitId)
    {
        await VisitService.DeleteVisit(visitId);
        NavigationManager.NavigateTo("/Patient/details");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/Patient/details");
    }
}
