@page "/ModalExample"
@inject IModalService Modal
@using AnthroCloud.UI.Blazor.Components

<button @onclick="@(() => Modal.Show<MultiLine>("Modal Popup Example"))" class="btn btn-primary">View </button>
