@page "/ModalExample"
@inject IModalService Modal
@using AnthroCloud.UI.Blazor.Components

<button @onclick="@(() => Modal.Show<MultiLine>("Weight-for-length"))" class="btn btn-primary">WFL P</button>
<button @onclick="@(() => Modal.Show<MultiLine>("Weight-for-length"))" class="btn btn-primary">WFL Z</button>
