@page "/MultiLine"
@inject IJSRuntime JsRuntime
<div id="line_top_x" class="line-chart-container"></div>
@functions
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var gChart = new Data.GrowthChartData();
        var data = gChart.GetData();
        var options = new
        {
            Title = "Title", Width = 900, height = 500,
            VAxis = new
            {
                Title = "Dollars"
                //new {
                //    ScaleLabel = new { Display = true, labelString = "Weight (kg)" },
                //    Ticks = new { BeginAtZero = true, StepSize = 2, SuggestedMax = 26, SuggestMin = 0 }
                //}
            },
            HAxis = new
            {
                Title = "Years"
                //new {
                //    ScaleLabel = new { Display = true, labelString = "Length (cm)" },
                //    ViewWindow = new { min = 45, max = 110},
                //    Ticks = new { AutoSkip = false, BeginAtZero = false, StepSize = 10, SuggestedMax = 110, SuggestMin = 45 }
                //}
            },
            Legend = new
            {
                Display = true,
                Position = "left",
                Labels = new
                {
                    fontColor = "rgb(255, 99, 132)"
                }
            },
            Colors = new[] { "#0000ff", "#00ff00" },
            CurveType = "Function"
        };

        await JsRuntime.InvokeAsync<Task>("drawChart", data, options);
    }
}
