<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnthroCloud.UI.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        fieldset {
            border: 1px solid #ddd !important;
            margin: 0;
            margin-top: 5px;
            min-width: 0;
            padding: 10px;
            position: relative;
            border-radius: 4px;
            background-color: #fafafa;
            padding-left: 10px !important;
        }

        legend {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 0px;
            width: 35%;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px 5px 5px 10px;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-between">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse dual-nav w-100">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link pl-0" asp-controller="Home" asp-action="Index">Home <span class="sr-only">Home</span></a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand mx-auto d-block text-center w-100" asp-area="" asp-controller="Home" asp-action="Index">Anthro<span style="color:dodgerblue;">Cloud</span></a>
                <div class="navbar-collapse collapse dual-nav w-100">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="https://dev.azure.com/rdw28/AnthroCloud"><i class="fa fa-windows" title="Azure Boards"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/rdw28/AnthroCloud"><i class="fa fa-github" title="GitHub"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main class="pb-3">
                @RenderBody()
            </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <i class="fa fa-cloud" aria-hidden="true"></i> AnthroCloud | Software Modernization for Cloud-Based Pediatric Anthropometry | University of West Florida (UWF) | Fall 2019 - COT 6931 II - Capstone Project @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
