@page "/"
@using Microsoft.Fast.Components.FluentUI

@*    <div class="w3-panel">
        <h2>Patient List</h2>
        <p>You can combine w3-ul and the w3-bar classes to create an avatar list:</p>
        <ul class="w3-ul w3-card-4">
            <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <img src="img/img_avatar4.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                    <span class="w3-large">Mike</span><br>
                    <span>Web Designer</span>
                </div>
            </li>
            <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <img src="img/img_avatar5.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                    <span class="w3-large">Jill</span><br>
                    <span>Support</span>
                </div>
            </li>
            <li class="w3-bar">
                <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span>
                <img src="img/img_avatar6.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                    <span class="w3-large">Jane</span><br>
                    <span>Accountant</span>
                </div>
            </li>
        </ul>
    </div>*@
<AnthroCloud.UI.Wasm.Components.PatientAccordion/>