@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a class="navbar-brand mx-auto d-block text-center w-100" style="font-size: 16pt;font-weight:bold;">Anthro<span style="color:dodgerblue;font-size:16pt;">Cloud</span></a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
