@inherits LayoutComponentBase

<div class="w3-container w3-padding-small w3-theme-d3">
    <div class="w3-right">
        <i class="fa fa-volume-up"></i>
        <i class="fa fa-wifi"></i>
        <i class="fa fa-battery-2"></i>
        12:30
    </div>
</div>

<NavSideIconMenu />

<div style="margin-left:70px;">
    @Body
</div>

<div style="margin-left:70px;" class="w3-animate-right">
    <MainFooter />
</div>