<header class="w3-bar w3-card w3-theme">
    <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme">
        <i class="fa fa-line-chart" aria-hidden="true"></i>
    </button>
    <h1 class="w3-bar-item">AnthroCloud</h1>
    <div class="w3-bar-item w3-right">
        <a href="" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-home"></i></a>
        <a href="patient/grid" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-list-rich"></i></a>
        <a href="patient/details" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-people"></i></a>
    </div>
</header>

<nav class="w3-sidebar w3-bar-block w3-black w3-xxlarge w3-animate-left" style="width:70px;z-index:4;">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
</nav>

<div style="margin-left:70px;"></div>