<div class="w3-container w3-padding-small w3-theme-d3">
  <div class="w3-right">
    <i class="fa fa-volume-up"></i>
    <i class="fa fa-wifi"></i>
    <i class="fa fa-battery-2"></i>
    12:30
  </div>
</div>
<header class="w3-bar w3-card w3-theme">
    <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme"
            @onclick="ToggleNavSideMenu">
        &#9776;
    </button>
    <h1 class="w3-bar-item">AnthroCloud</h1>
    <div class="w3-bar-item w3-right">
        <a href="" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-home"></i></a>
        <a href="patient/grid" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-list-rich"></i></a>
        <a href="patient/details" class="w3-button w3-xxxlarge w3-hide-small"><i class="oi oi-people"></i></a>
    </div>
</header>

<nav class="@NavSideMenuCssClass w3-sidebar w3-bar-block w3-card w3-animate-left" style="width:200px;z-index:5;">
    <div class="w3-red">
        <button @onclick="ToggleNavSideMenu"
                class="w3-button w3-display-topright w3-xlarge">
            X
        </button>
    </div>
    <NavLink @onclick="ToggleNavSideMenu" class="w3-bar-item w3-button" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink @onclick="ToggleNavSideMenu" class="w3-bar-item w3-button" href="patient/grid">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
    </NavLink>
    <NavLink @onclick="ToggleNavSideMenu" class="w3-bar-item w3-button" href="patient/details">
        <span class="oi oi-people" aria-hidden="true"></span> Assessment
    </NavLink>
</nav>

<div class="@NavOverlayMenuCssClass w3-overlay" onclick="w3_close()" style="cursor:pointer;" id="myOverlay"></div>

@code {
    private bool collapseNavSideMenu = true;
    private bool overlayNavSideMenu = true;

    private string? NavSideMenuCssClass => collapseNavSideMenu ? "closeSidebar" : null;
    private string? NavOverlayMenuCssClass => overlayNavSideMenu ?  null : "openOverlay";

    private void ToggleNavSideMenu()
    {
        collapseNavSideMenu = !collapseNavSideMenu;
        overlayNavSideMenu = !overlayNavSideMenu;
    }
}
