@page "/patient/delete/{patientId:int}"
@using AnthroCloud.Entities
@using AnthroCloud.UI.Wasm.Services
@inject HttpClient Http
@inject NavigationManager NavigationManager

<br/>
<div class="w3-container w3-card">
    <h3>Delete Patient</h3>
    <hr />   
    <p>
        <label class="w3-text">First Name</label>
        <input class="w3-input w3-border w3-round" type="text" value="@patient.FirstName" readonly />
    </p>
    <p>
        <label class="w3-text">Last Name</label>
        <input class="w3-input w3-border w3-round" type="text" value="@patient.LastName" readonly />
    </p>
    <p>
        <label class="w3-text">Birth Date</label>
        <input class="w3-input w3-border w3-round" type="text" value="@patient.DateOfBirth.ToShortDateString()" readonly />
    </p>
    <p>
        <label class="w3-text">Sex</label>
        <input class="w3-input w3-border w3-round" type="text" value="@patient.Sex" readonly />
    </p>
    <p>
        <button class="w3-btn w3-blue" type="submit" @onclick="(async () => await RemovePatient(patient.PatientId))">Delete</button>
        <button class="w3-btn w3-red" @onclick="(() => Cancel())">Cancel</button>
    </p>  
</div>
<br />

@code {
    [Inject]
    public IPatientService PatientService { get; set; }

    [Parameter]
    public int patientId { get; set; }
    Patient patient = new Patient();
    protected override async Task OnInitializedAsync()
    {
        patient = await PatientService.GetPatient(Convert.ToInt32(patientId));
    }
    protected async Task RemovePatient(int patientId)
    {
        await PatientService.DeletePatient(patientId);
        NavigationManager.NavigateTo("/Patient/details");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/Patient/details");
    }
}